Repository uc-cdis/hatchery, pull requests merged in 2024-03, with the labels that each got.

#89 Chore/use dynamodb gen3 user license
  .secrets.baseline
  doc/howto/configuration.md
  go.mod
  go.sum
  hatchery/config.go
  hatchery/config_test.go
  hatchery/gen3licenseusermaps.go
  hatchery/gen3licenseusermaps_test.go
  hatchery/hatchery.go
  hatchery/hatchery_test.go
  hatchery/pods_test.go
  testData/testConfig.json
Labels: test-portal-indexingPageTest

#100 Fix/handle nil licensed users in terminate
  hatchery/config.go
  hatchery/gen3licenseusermaps.go
  hatchery/gen3licenseusermaps_test.go
  hatchery/hatchery.go
  hatchery/hatchery_test.go
Labels: @requires-hatchery

#96 MIDRC-543 Nextflow image builder AMI
  doc/explanation/nextflow.md
  doc/howto/configuration.md
  hatchery/config.go
  hatchery/hatchery.go
  hatchery/helpers.go
  hatchery/nextflow.go
  hatchery/nextflow_test.go
Labels: @requires-hatchery, jenkins-blood

#101 MIDRC-650 Cancel Nextflow jobs on workspace termination
  hatchery/gen3licenseusermaps.go
  hatchery/hatchery.go
  hatchery/helpers.go
  hatchery/nextflow.go
  hatchery/nextflow_test.go
Labels: @requires-hatchery

#102 MIDRC-679 Nextflow - Configurable sample config public image
  doc/howto/configuration.md
  hatchery/config.go
  hatchery/hatchery.go
  hatchery/hatchery_test.go
  hatchery/nextflow.go
Labels: @requires-hatchery
